@font-face {
  font-family: 'Sky';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sky-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sky';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sky-medium.ttf') format('truetype');
}
